.slide_displayer {
    display: inline-block;

    height: 35px;
    width: 150px;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
}

.dot {
    display: inline-block;

    height: 15px;
    width: 15px;
    border-radius: 50%;

    background-color: white;
}

.hidden {
    display: none;
}

.active {
    background-color: greenyellow;
}
